{% extends 'base.html' %} {% load bootstrap_icons %} {% block title %}{{ post.title }}{% endblock title %}
{% block content %}
<div
class="read_poll"
style="
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    border: solid 2px;
    background: rgb(211, 211, 211, 0.9);
"
>
<h1>{{ poll.title }}</h1>
<h2>
    {{ poll.author }}
</h2>
<p>Category: {{ poll.category }}</p>
<p style="margin: 10px; padding: 10px; font-size: 20px;color:black">{{ poll.body }}</p>
<p>{{ poll.created_on }} | {{ poll.updated_on }}</p>

{% if user.is_authenticated %}

<div class="not-bs mx-4 text-center"  >
    <form action="" style="display:block; text-align: center;">
        {% csrf_token %}
    <a class="truth vote-truth" value="{{poll.pk}}" id="{{ poll.pk }}" href="">{% bs_icon 'hand-thumbs-up' %} Truth</a>
    <span id="true-vote-count-{{poll.pk}}">{{ truth|length }}</span>
    </div>
    <div class="is-bs mx-4 text-center">
    <a class="bs vote-bs" value="{{poll.pk}}" id="{{ poll.pk }}" href="">{% bs_icon 'hand-thumbs-down' %} Total BS</a>
    <span id="bs-vote-count-{{poll.pk}}">{{ bs|length }}</span>
    </div>
</form><br>

</div>
{% endif %}
{% endblock content %}