{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    edit poll
{% endblock %}


{% block content %}

<div class="container">
    <div class="container-fluid px-1 py-5 mx-auto">
        <div class=" d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <div class="card">
                    <h4>Edit Poll</h4>
                    <p style="font-size: 13px;">fields marked with <span class="text-danger">*</span> are required</p>
                    <form method="POST" class="form-card" >
                        {% csrf_token %}
                        {% if form.errors %}
                        {% for key,value in form.errors.items %} 
                        {{ key }} : {{ value }}
                        {% endfor %}
                        {%endif%}
                        {{ form.as_p }}
                          <div class="row justify-content-end">
                            <div class="form-group d-flex justify-content-center flex-column "><input class="login-button" type="submit" value="Save">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}