{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    About Us
{% endblock %}


{% block content %}

<div class="container">
    <h5 class="text-center">
        About Page
    </h5>
    <p>Greetings and welcome to "I call BS"!  We started this website as a student project to demonstrate proficiency in Django.  But it's so much more than that!  We believe that the subjective assessment of public conjecture is as valuable as clinical scientific data.  Opinions matter!  If they didn't, polling wouldn't exist.  However fleeting our feelings may be, they are important to our understanding of the world and the people that surround us everyday. </p>
    <p>Our website gives you the chance to voice your opinion on the "truthiness" of statements that are a matter of public record.  We're really not interested on what your neighbor, Jim, thinks about politics, religion, or business.  Sorry, Jim, you're barely qualified to comment on the weather.  But if Jim's statements are a matter of public record, we might reconsider.  We're mostly concerned with historical quotes.  Maybe you read some Sartre in school.  Maybe you thought he was full of it.  That's why we're here!  Stick it to Sartre!  Existentialism is for loners and the clinically depressed.  Just kidding, that's an opinion.  The kind of opinion that belongs on a messageboard.  We only want to vote collectively on something Sartre is officially credited with.  Have fun, take it with a grain of salt, and don't quote us or treat us as an academic resource.  You might just find some of the validation you were looking for though.  </p>
</div>

{% endblock %}