<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}">
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 mb-2 sticky-top">
      <a class="mx-0" href="index.html">
          <img class="navbar-brand h-100" src="img/Image 7@1x.png" alt="oops">
      </a>
      <img src="images/Callout@1x.png" alt="oops">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active px-4">
            <a class="nav-link" href="rankings.html">Rankings</a>
          </li>
          <li class="nav-item active px-4">
            <a class="nav-link" href="popular_today.html">Popular Today</a>
          </li>
          <li class="nav-item active px-4">
            <a class="nav-link" href="#">Log in</a>
          </li>
          <li class="nav-item active px-4">
            <a class="nav-link" href="register.html">Sign Up</a>
          </li>
  
          </div>
        </ul>
      </div>
  
    </nav>
    
</body>
</html>


