* {
    padding: 0;
    margin: 0;
}

:root {
    --login-button: #20BDFF;
    --shadow: 2px 5px 5px  var(--primary);
    --text-color: #212529;
    --background-main: rgba(253, 253, 253, .88);
  }


nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.px-5.mb-5 {
    margin:0;
    padding: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}





.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #c1c3cc;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #02061b;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #040b27;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #02061b;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6c6d74;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #050c25;
}

a.article,
a.article:hover {
    background: #020618 !important;
    color: #fff !important;
}



.poll-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    border: 2px solid black;
    padding: 3rem 4rem;
}

.poll-container-header {
    margin-bottom: 2rem;
}

.btn.btn-outline-dark {
    margin-bottom: 4rem;
}

.hidden{
    display: none;
}

.poll-card {
    min-width: 80%;
    border: 2px solid gray;
    margin-bottom:2rem ;
    color: black;
    border-radius: 5px;
}

.poll-card p{
    color: black;
}






/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.input-button {
    background-color: var(--login-button);
    border: unset;
    color: #fff;
    align-self: center;
    margin-top: 15px;
    padding: 10px;
    border-radius: 40px !important;
    min-width: 175px;
    margin-left: 3px;
  }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

li {
    list-style-type: none;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.card {
    float: left;
    text-align: justify;
}
.card2 {
    float: left;
    text-align: justify;
}
.text-about{
    float: right;
    width: 65%;
    margin: 0 auto;
    text-align: justify;
    margin-right: 50px;
}
/* ---------------------------------------------------
    Left Sidebar
----------------------------------------------------- */

.left_sidebar .col-md-2{
    background-color: lightgray;
    color: black;
    border: 1px solid ;
    margin-right: 5px;
    float:left;
}
.left_sidebar .col-md-2 a{
    color:black;
}
.left_sidebar .col-md-2 a:hover {
    color:white;
}


/*---------Carousel on Popular Today ------*/

.carousel-inner{
    width:750px; 
    /* max-width:750px;  */
    display: inline-flex;
    resize:none;
    
} 
.carousel-inner img{
    display:flex; 
    margin:auto;
    width: 400px; 
    height:550px;
    border:solid black 3px;
    
}
.carousel-inner p{
    color:white;
}
.carousel-inner h5{
    text-decoration: underline;
    font-size: 40px;
}
#carouselExampleControls{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
    background-color: black;
    float: right;
    margin-right: 20%;
    margin-top: 60px;
    border: black;
} 

.new-post-container{
    height: 500px;
    background-color:lightgrey;
    display: flex;
    margin:50px;
    margin-left: 250px;
    
}
footer {
    background: #252429;
    padding-bottom: 0em;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    height: 50px;
    z-index: -1;
    color: #ffffff;
}